header h1 a i {
  font-size: 10rem;
}

main .main-information {
  /* max-width: 1000px; */
}

main .main-information .username i,
main .main-information .email i,
main .main-information .blog i,
main .main-information .twitter i,
main .main-information .company i,
main .main-information .location i,
main .main-information .follow i,
main .main-information .public-repositories i {
  font-size: 1.6rem;
}

main .main-information .follow .followers :nth-child(2)::after,
main .main-information .follow .following :nth-child(2)::after,
main .main-information .public-repositories :nth-child(2)::after {
  content: ":";
}
